:root {
    --c-primary-brand: #4D5AE5;
    --c-pressed-state: #404BBF;
    --c-dark: #2E2F42;
    --c-succes: #31D0AA;
    --c-text: #434455;
    --c-subtle-text: #8E8F99;
    --c-accent: #E7E9FC;
    --c-light:#F4F4FD;
    --c-modal-overlay: #2E2F42;
    --c-hero-background: #2E2F42;
    --c-white-backgound: #FFFFFF;
    --c-modal-background: #FCFCFC;
}

body { 
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
    margin: 76px;
}
.logo-studio {
    color: #2e2f42;
}
.header-list {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: inline-block;
    padding: 24px 0;
    text-decoration: none;
}
.header-list:hover {
    color: #404bbf;
    text-decoration: underline;
    font-size: 16px;
}
.header-list:focus {
    color: #404bbf;
}
.adress-decoration {
    font-style: normal;
}
.header-contacts {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    font-weight: 400;
}
.header-contacts:hover,
.header-contacts:focus {
color: #404bbf;
}
.main-header {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    max-width: 496px;
}
.section-decoration {
    background-color: #2E2F42;
    padding: 188px 0;
}
.section-decoration-ways {
    background-color: #FFFFFF;
    padding: 120px 0;
}
.order-service-button {
     background-color: #4D5AE5;
     font-family: 'Roboto', sans-serif;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #ffffff;
     cursor: pointer;
     min-width: 169px;
     height: 56px;
     border: none;
     border-radius: 4px;
     text-align: center;
     padding-block: 1px;
     padding-inline: 6px;
     margin-right: auto;
     margin-left: auto;
     margin-top: 50px;
     padding: 16px, 32px, 16px, 32px;
}
.order-service-button:hover {
   background-color: #404BBF;
}
.order-service-button:focus {
    background-color: #404BBF;
}
.main-header {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.sub-header-desk {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
    text-align: center;

}
.sub-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 8px;
    align-items: center;
}
.section-three-desc {
    background-color: #F4F4FD;   
    padding: 120px 0;
}
.content-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    width: calc((100% - 72px) / 4);
}
.third-list-class {
    background-color: #FFFFFF;
    width: 264px;
    border-radius: 0px 0px 4px 4px;
}
.footer-desc {
    background-color: #2e2f42;
}
.main-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}
.logo-second-footer {
    color: #f4f4fd; 
}
.footer-logo-desc {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
img {
    display: block;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.navigation {
    display: flex;
    align-items: center;
    gap: 24px;
}
 div {
    display: block;
}
.body-navigation {
    gap: 40px;
    display: flex;
    flex-grow: 1;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}
.body-adress {
    display: flex;
    gap: 40px;
}
.ways-list {
    display: flex;
    gap: 24px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.ways-item {
    width: calc((100% - 72px) / 4);
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-list-text {
    padding: 32px 0;
}
*,
::after,
::before {
    box-sizing: border-box;
}
 div {
    display: block;
}
.ways-item-li {
    width: 264px;
}
.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 72px;
    text-transform: capitalize;
    text-align: center;
}
.portfolio-tittle {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
}
.portfolio-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}