:root {
    --c-primary-brand: #4D5AE5;
    --c-pressed-state: #404BBF;
    --c-dark: #2E2F42;
    --c-succes: #31D0AA;
    --c-text: #434455;
    --c-subtle-text: #8E8F99;
    --c-accent: #E7E9FC;
    --c-light:#F4F4FD;
    --c-modal-overlay: #2E2F42;
    --c-hero-background: #2E2F42;
    --c-white-backgound: #FFFFFF;
    --c-modal-background: #FCFCFC;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}
.logo-studio {
    color: #2e2f42;
}
.header-list {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-list:hover {
    color: #404bbf;
}
.header-list:focus {
    color: #404bbf;
}
.adress-decoration {
    font-style: normal;
}
.header-contacts {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-contacts:hover,
.header-contacts:focus {
color: #404bbf;
}
.main-header {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.section-decoration {
    background-color: #2E2F42;
}
.section-decoration-ways {
    background-color: #FFFFFF;
}
.order-service-button {
    background-color: #4D5AE5;
     font-family: 'Roboto', sans-serif;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #ffffff;
     cursor: pointer;
}
.order-service-button:hover {
   background-color: #404BBF;
}
.order-service-button:focus {
    background-color: #404BBF;
}
.main-header {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.sub-header-desk {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
}
.sub-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.section-three-desc {
    background-color: #F4F4FD;   
}
.content-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.third-list-class {
    background-color: #FFFFFF;
}
.footer-desc {
    background-color: #2e2f42;
}
.main-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}
.logo-second-footer {
    color: #f4f4fd; 
}
.footer-logo-desc {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
